[submodule "alternatives/hsc2hs"]
	path = alternatives/tools/hsc2hs
	url = https://github.com/haskell/hsc2hs.git
[submodule "alternatives/c2hs"]
	path = alternatives/tools/c2hs
	url = https://github.com/haskell/c2hs.git
[submodule "examples/c-minisat/minisat-c-bindings"]
	path = examples/c-minisat/minisat-c-bindings
	url = https://github.com/niklasso/minisat-c-bindings.git
[submodule "examples/botan/botan"]
	path = examples/botan/botan
	url = https://github.com/randombit/botan
[submodule "examples/c-qrcode/QR-Code-generator"]
	path = examples/c-qrcode/QR-Code-generator
	url = https://github.com/nayuki/QR-Code-generator.git
[submodule "examples/c-rogueutil/rogueutil"]
	path = examples/c-rogueutil/rogueutil
	url = https://github.com/sakhmatd/rogueutil.git
