[submodule "alternatives/hsc2hs"]
	path = alternatives/tools/hsc2hs
	url = https://github.com/haskell/hsc2hs.git
[submodule "alternatives/c2hs"]
	path = alternatives/tools/c2hs
	url = https://github.com/haskell/c2hs.git
[submodule "c-rogueutil/rogueutil"]
	path = c-rogueutil/rogueutil
	url = git@github.com:sakhmatd/rogueutil.git
[submodule "c-ffmpeg/FFmpeg"]
	path = c-ffmpeg/FFmpeg
	url = git@github.com:FFmpeg/FFmpeg.git
[submodule "c-minisat/minisat-c-bindings"]
	path = c-minisat/minisat-c-bindings
	url = git@github.com:niklasso/minisat-c-bindings.git
[submodule "c-qrcode/QR-Code-generator"]
	path = c-qrcode/QR-Code-generator
	url = git@github.com:nayuki/QR-Code-generator.git
